
*.json
*.cmake
*Makefile
*.Rhistory
*.tar.gz
*.RData
*.o
*.so
test/fdapde_test
test/.cache
test/build/
build/
.DS_Store
.bash_history
.idea/
cmake-build-debug-docker/
cmake-build-default/

cmake-build-debug/
experiments/test_RSVD/performances.csv
.vscode
**/results/


#plots
*.pdf
*.png
*.txt
*.eps
!CMakeLists.txt

!simulations/sphere_diff/plot_mesh.png
!simulations/sphere_diff/plot_solution.png

!simulations/torus_diff/plot_mesh.png
!simulations/torus_diff/plot_solution.png

#help files
*.csv
*.mtx

#docs files
*.puml
.Rproj.user

#some test directories
test_massimo/
