*.txt
*.json
*.cmake
*Makefile
*.Rhistory
*.tar.gz
*.RData
*.o
*.so
test/fdapde_test
test/.cache
test/build/
build/
CMakeFiles/
.DS_Store
.bash_history
.idea/
cmake-build-debug-docker/
cmake-build-default/
cmake-build-debug/
experiments/test_RSVD/performances.csv
.vscode

#plots
*.pdf
*.png

#help files
*.csv

#docs files
*.puml
.Rproj.user

#some test directories
experiments/

#Mumps
mumps_testing/mumps_fdapde_test
mumps_testing/.cache
mumps_testing/build/
mumps_testing/data/build/
mumps_testing/test_output.log
!mumps_testing/CMakeLists.txt
!mumps_testing/user_config.cmake
!mumps_testing/data/CMakeLists.txt
!mumps_testing/computation_times/
!mumps_testing/computation_times/**
mumps_testing/computation_times/build/
mumps_testing/computation_times/build/**
mumps_testing/computation_times/plots/**
